@import './node_modules/bootstrap/scss/bootstrap.scss';
$verde: #29F85A !default;
$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "verde":    $verde,
  ),
  $theme-colors
);
.navbar{
    margin-top: 20px;
}
navbar-brand

.navbar-brand:hover{
    color: #3B3B3B!important;
}

.navbar .navbar-nav {
    margin: 0 auto;
    padding: 10 0;
    
}

.navbar .nav-item a {
    color: #29F85A !important; 
    font-family: 'Lexend Deca, Roboto', sans-serif !important;
}


.navbar .nav-item a:hover {
    color: #3B3B3B !important; 
    transition: .3s
}

.top-nav-collapse {
    background-color: #29F85A !important; 
}
  
.btn {
    color: #29F85A !important;
    border-color: #29F85A !important;
    border-radius: 50px; 
    border-width: 2.5px
}

.btn:hover{
    background-color: #29F85A;
    color: #fff !important;
}

.navbar .btn{
    font-weight: 670;
}

  


    
  